.footer {
  position: relative;
  background: var(--system-violet);
  display: flex;
  justify-content: center;

  color: rgba(255, 255, 255, 0.7);
  text-align: center;

  /* Сайт/Caption */
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  padding: 48px 24px 80px;

  @media screen and (min-width: 1024px) {
    padding: 24px;
    padding-top: 48px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 0px 0px 24px 24px;
    background: var(--background-smoky);

    height: 24px;
    width: 100%;
  }
}
