.order-form {
  display: flex;
  flex-direction: column;
  gap: 10px 0;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 0 32px;
    align-items: flex-start;
    padding-bottom: 26px;
  }
}

.order-form__title {
  color: var(--text-black);
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}

.order-form__edit-btn {
  color: var(--system-magenta);

  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  background: none;
  border: none;
  cursor: pointer;
}

.order-form__section {
  border-radius: 16px;
  background-color: var(--background-white);
  margin: 0 -16px;
  padding: 16px 16px 24px;
  @media screen and (min-width: 1024px) {
    margin: 0;
    padding: 16px 24px 24px 24px;
  }
}

.order-form__delivery {
  margin-top: 6px;
  @media screen and (min-width: 1024px) {
    margin-top: 0;
  }
}

.order-form__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 16px;
    align-items: baseline;
    margin-right: 2px;
  }
}

.order-form__left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: 1024px) {
    flex-grow: 1;
    gap: 16px;
  }
}

.order-form__right {
  @media screen and (min-width: 1024px) {
    flex-shrink: 0;
    width: 304px;
    padding: 16px 25px 24px 24px;
    background: var(--background-white, #fff);
    border-radius: 16px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
      0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 1400px) {
    width: 429px;
  }
}
